/* Navigation Styles - Header & Footer */

.nav-link {
    color:#ff7134 ;
}

.active {
    color: pink !important;
}

/* .nav-options .nav-link.active, .navbar-nav .show>.nav-link {
    color: #F27059;
} */
.nav-link:hover {
    color: #EFB7AD;
}
.link-display{
    display: none;
}
.custom-shadow {
    box-shadow: 5px 7px 5px #888888;
}

.custom-card-spacing{
    padding-top: 2.4rem;
}
.custom-margin {
    margin-bottom:80px;
}
.custom-button {
    background-color: #ff7134;
    color: #fff1e1;
    border: none;
    font-size: .8rem;
}
.container{
    margin-top: 5rem;
}
.cuecard {
    background-image: url('../assets/cuecard.png');
    background-size:cover;
    width: 100%;
    height: auto;
}

.custom-col-width-edit {
    width: 15%
}
.custom-col-width-question {
    width: 80%;
}
.custom-col-width-delete {
    width: 5%;
}

@media only screen and (max-width: 767px) {
    .custom-card-spacing{
        padding-top: 1.8rem;
    }
}
@media only screen and (max-width: 576px) {
    .custom-alignment {
        text-align:right;
  }
}

