/* Navigation Styles - Header & Footer */

.nav-link {
    opacity: .5;
    font-size: 1rem;
    font-weight: bold;
    align-self: center;
}
.inactive {
    color:white !important;
}
.active {
    color: #000C66;
}
.active:hover{
    opacity: 1;
    color: #000C66;
    text-decoration: none;
}

.nav-link:hover {
    opacity: 1;
}

#add-new {
    border: 2px solid #ff7134;
    border-radius: 100%;
    padding: 04px 13px;
    font-size: 1.3rem;
}
#add-new:hover{
  border-radius: 100%;
  box-shadow: 0 0 50px #FFDE59;
}

/* General Styles */

.container{
    margin-top: 5rem;
}

.custom-input-size{
    font-size: 12px;
}

.custom-button {
    background-color: #000C66;
    color: white;
    border: none;
    font-family: 'Shantell Sans', cursive;
}
.custom-button:hover {
    background-color: #ff7134;

}

.custom-icon{
    font-size: 1.5rem;
}
.form-control {
    border: none;
}
.btn-link{
    color: #373636;
}
.btn-link:hover {
    text-decoration: none;
    color: #ff7134;
}

@media only screen and (max-width: 576px) {
    .custom-alignment {
        text-align:right;
  }
}

