.custom-shadow {
    box-shadow: 5px 7px 5px #888888;
}

.custom-button {
    background-color: #ff7134;
    color: #fff1e1;
    border: none;
}

.custom-col-width-edit {
    width: 15%
}
.custom-col-width-question {
    width: 80%;
}
.custom-col-width-delete {
    width: 5%;
}
@media only screen and (max-width: 576px) {
    .custom-alignment {
        text-align:right;
  }
}

